/* /* *
{
    margin: 0;
} */

@media screen and (max-width: 768px) {
    .Rest {
        width: 80%;
        font-size: 20px;
        padding: 10px 20px;
    }

    .container {
        flex-direction: column;
    }

    .container img {
        margin: 20px;
    }

    .container .text {
        margin: 20px;
    }

    
}